body {
    font-family: futura;
    font-size: 24px;
    background-color: rgb(128, 87, 240);
}

.sliders {
    /* width: 25%; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 300px;
    margin-top: -150px;
    margin-left: -150px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}

.slider {
    width: 350px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px red solid; */
}


.left {
    /* margin-right: 24px; */
    width: 50px;
    text-align: center;
    /* border: 1px blue solid; */
}

.range {
    width: 300px;
}

.right {
    width: 65px;
    /* border: 1px blue solid; */
    text-align: right;
}

.css-container {
    display: flex;
    /* flex-wrap: wrap; */
    width: 350px;
    /* height: 600px; */
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-content: flex-start; */
    font-size: 0.75rem;
    /* border: 1px solid red; */
}

.inner {
    padding: 0.5em;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.code {
    font-family: monospace;
    background-color: #777;
    padding: 10px;
}
