body {
    font-family: futura;
    font-size: 24px;
    background-color: rgb(128, 87, 240);
}

.sliders {
    /* width: 25%; */
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 300px;
    margin-top: -150px;
    margin-left: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}

.slider {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px red solid; */
}


.left {
    /* margin-right: 24px; */
    width: 50px;
    text-align: center;
    /* border: 1px blue solid; */
}

.range {
    width: 255px;
}

.right {
    width: 100px;
    /* border: 1px blue solid; */
    text-align: right;
}


.rgb {
    display: flex;
    justify-content: center;
    /* width: 400px; */
}

.hex {
    display: flex;
}


/* TOOLTIP */

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }